Package: visplane-explorer
Version: 1.0-1
Section: misc
Priority: optional
Maintainer: Andrew Apted <ajapted@users.sf.net>
Architecture: i386
Depends: libc6, libstdc++6, libx11-6, libxext6, libxrender1, libxinerama1, zlib1g (>= 1:1.1.4)
Description: Tool to visualize VPO errors in DOOM maps
 Visplane Explorer is a tool to visualize possible VPO errors in
 classic DOOM maps.  This is useful when mapping for vanilla DOOM,
 because such errors will abruptly quit the game (and upset the
 person playing).
Homepage: http://vis-explorer.sourceforge.net/
